# Connections
NETWORK=mocknet
NODE_ENV=dev # dev, staging or production

# Addresses
APP_ADDRESS=ST1PQHQKV0RJXZFY1DGX8MNSNYVE3VGZJSRTPGZGM
APP_PRIVATE_KEY=753b7cc01a1a2e86221266a154af739463fce51219d97e4f856cd7200c3bd2a601

MANAGER_ADDRESS=ST2CY5V39NHDPWSXMW9QDT3HC3GD6Q6XX4CFRK9AG
MANAGER_PRIVATE_KEY=530d9f61984c888536871c6573073bdfc0058896dc1adfe9a6a10dfacadc209101

USER_ADDRESS=ST1SJ3DTE5DN7X54YDH5D64R3BCB6A2AG2ZQ8YPD5
USER_PRIVATE_KEY=7287ba251d44a4d3fd9276c88ce34c5c52a038955511cccaf77e61068649c17801

# Used by Prisma
DATABASE_URL="postgresql://postgres:bitcoinfunding@localhost:5433/bitcoin_funding"

# Make sure this is a secret in production
SECRET_COOKIE_PASSWORD=2gyZ3GDw3LHZQKDhPmPDL3sjREVRXPr8

# Salt to hash AppPrivateKey
APP_PRIVATE_KEY_SALT="\$2b\$06\$n.yOAFz1xeNbX.tTXe0QOe"

# Mnemonic for main xpub address
XPUB_MNEMONIC="praise you muffin lion enable neck grocery crumble super myself license ghost"

BF_AWS_ACCESS_KEY_ID = ''
BF_AWS_ACCESS_KEY_SECRET = ''
BF_AWS_REGION = ''
AWS_S3_BUCKET_NAME = ''  # Will be used in an API route.
